/* 基础公共样式：清除默认样式 + 设置通用样式 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

i{
  font-style: normal;
}

body {
  background-color: #E4E6E9;
}

html[lang="zh-CN"] body {
  font: 14px/1.5 /*system-ui,*/ -apple-system, "PingFangSC-Regular", "Microsoft Yahei", "Noto Sans", "WenQuanYi Micro Hei", "Heiti SC", sans-serif;
  color: #333;
}

html[lang="en"] body {
  font: 14px/1.5 /*system-ui,*/ -apple-system, Tahoma, Arial, sans-serif;
  color: #333;
}

p:lang(en), span:lang(en),a:lang(en) {
  font: 14px/1.5 /*system-ui,*/ -apple-system, Tahoma, Arial, sans-serif;
}

a {
  color: #333;
  text-decoration: none;
}